{
  "singleQuote": true,
  "printWidth": 80,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./apps/nyon/tailwind.config.js",
  "tailwindAttributes": ["classNames", "className"],
  "tailwindFunctions": ["classNames", "className"],
  "arrowParens": "avoid"
}